<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
	<meta charset="UTF-8">
	<title>تأكيد البريد الإلكتروني</title>
</head>
<body>
	<h1>تم تأكيد البريد الإلكتروني بنجاح</h1>
	<p>شكرًا لتأكيد بريدك الإلكتروني. لقد تم تأكيد بريدك الإلكتروني بنجاح.</p>
</body>
</html>
